@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	font-size: 18px;
	--theme-color: #408ec6;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	color: white;
	background: url('https://images.unsplash.com/photo-1628521495179-ca4448a584d8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover;
	background-position: center;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#weather-container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 10% 1fr 1fr;
	gap: 20px;
}

header {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	padding: 0px 30px;
	background-color: rgba(16, 24, 32, 1);
	justify-content: space-between;
}

#app-name-and-sticker {
	display: flex;
	align-items: center;
	gap: 15px;
}

#app-name {
	font-size: 2.5rem;
	font-family: 'Montserrat', sans-serif;
}

#header-sticker {
	height: 50px;
}

form {
	width: 50%;
	display: flex;
	align-items: center;
	gap: 20px;
}

#search {
	width: 100%;
	border: none;
	border-radius: 50px;
	height: 35px;
	padding: 0px 10px;
	font-size: 1.2rem;
}

#search:focus {
	background-color: white;
	outline: none;
}

#submit {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50px;
	padding: 0px 10px;
	cursor: pointer;
	width: 20%;
	font-size: 1.2rem;
	background-color: inherit;
	color: white;
	border: 2.5px solid white;
}

#submit:hover {
	background-color: rgba(16, 24, 32, 1);
	border: 2.5px solid cornflowerblue;
}

.fa-github {
	color: gainsboro;
	font-size: 2.3rem;
}

.fa-github:hover {
	color: white;
}

#current-weather {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	padding: 0px 20px;
	display: flex;
	gap: 20px;
}

#current-weather-left-part {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
	gap: 20px;
}

#city {
	display: flex;
	justify-content: center;
	font-size: 2.3rem;
	line-height: 80px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(16, 24, 32, 1);
}

#today-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: gainsboro;
	padding: 15px;
	height: 100%;
	line-height: 33px;
	background-color: rgba(16, 24, 32, 0.8);
	border: 5px solid rgba(16, 24, 32, 1);
	border-radius: 5px;
}

#today-data > #today-data-content {
	display: flex;
	gap: 30px;
}

#current-weather > #current-weather-card {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 30px;
	border-radius: 10px;
	transition: transform 0.1s linear;
	background-color: rgba(16, 24, 32, 0.8);
	border: 6px solid rgba(16, 24, 32, 1);
	justify-content: space-between;
	width: 40%;
}

#current-weather-card-header {
	display: flex;
	height: 40%;
}

#current-weather-card-header > #left-part-of-header {
	display: flex;
	flex-direction: column;
	width: 60%;
}

#today-date,
#current-time {
	font-size: 1.15rem;
}

#current-weather-description {
	font-size: 1.4rem;
	color: white;
	line-height: 33px;
	font-weight: bold;
}

#current-weather-card-header > #right-part-of-header {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	width: 40%;
}

#current-temp {
	font-size: 3.4rem;
	font-weight: bold;
	line-height: 50px;
}

#current-weather > #current-weather-card > #current-weather-card-content {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 60%;
}

#current-weather-card-content {
	height: 60%;
}

#current-weather-icon-and-temp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 85%;
	width: 20%;
	gap: 5px;
	border-radius: 5px;
	padding: 5px;
	background-color: var(--theme-color);
}

#today-temperature-interval {
	font-size: 1.4rem;
	display: flex;
	gap: 15px;
}
